/*body { font: 16px san-serif;} */

/*path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
*/
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.area {
    fill: lightsteelblue;
    -webkit-text-stroke-width: 0;
}

.dot {
  fill: #999;
  stroke: #555;
}

.dot.scanned {
  fill: orange;
  fill-opacity: 1;
  stroke: brown;
}

.dot.selected {
  fill: red;
  fill-opacity: 1;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

.dbcolumn {
    height: 28px;
    width: 100px; 
    /*margin-top: 100px; */
    border-radius: 1px;
    display: inline;
    background-color: #428BCA;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 12px;
    opacity: 1;
    float: left;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.d3 {
    margin-top: 100px;
}

.tableSection {
    margin-top: 10px;
    margin-bottom: 3px;
    clear: both;
}
.active {
    background-color: #556677;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.frame {
  fill: none;
  stroke: #aaa;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}


/*stuff for d3 tool-tips: */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(250, 250, 250, 0.8);
  color: #333;
  border-radius: 2px;
  border-color: #333;
  border-width: 2px;
  border-style: solid;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(250, 250, 250, 0.99);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
;